@import url('https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fascinate&display=swap');

:root {
    --color-azul: #3333ff;
    --color-azulClaro: #19ABE0;
    --fonte-titulo: "Fascinate", system-ui;
    --fonte-menu: "Coiny", system-ui;
    --fonte-texto: "DM Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    ;
}

body {
    display: grid;
    background-color: black;
    color: white;
    font-family: var(--fonte-texto);
    color: var(--color-azul);

}

header {
    height: 200px;
}

h1 {
    font-family: var(--fonte-titulo);
    letter-spacing: 5px;
    font-size: 5rem;
    background-image: linear-gradient(45deg, var(--color-azul), var(--color-azulClaro), var(--color-azul));
    background-clip: text;
    color: transparent;
    justify-self: center;
    align-self: center;
    padding: 10px;
}

#conteinerMenuTopo {
    padding: 10px;

}

#menuTopo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: var(--fonte-menu);
    font-weight: bold;
    text-align: center;
    list-style-type: none;

}


li a {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--color-azul);
    -webkit-border-box: 0 1px 0 0 #4c4c4c;
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom .3s linear;
}

li a:hover {

    border-bottom: 4px solid var(--color-azul);
}

.icon {
    width: 30px;
    height: 30px;
    color: white;
}

#rodape {
    position: fixed;
    width: 90%;
    bottom: 0;
    text-align: center;
}

h2 {
    font-family: var(--fonte-texto);
    color: whitesmoke;
    justify-self: center;
}

#campoAddTarefas {
    justify-self: center;
    width: 95%;
    max-width: 900px;
    border-color: rgb(46, 46, 46);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "dataTarefa textoTarefa botaoAdicionarTarefa";
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#dataTarefa {
    grid-area: dataTarefa;
    width: 100px;
    margin-right: 5px;
}

#textoTarefa {
    grid-area: textoTarefa;
    width: 400px;
    margin-right: 5px;
}

.botaoAdicionarTarefa {
    grid-area: botaoAdicionarTarefa;
    background-color: var(--color-azul);
    color: var(--color-azulClaro);
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#listaTarefas {
    justify-self: center;
    border-color: rgb(46, 46, 46);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--color-azul);
    padding-left: 10px;
    font-family: var(--fonte-texto);
}

.botaoAdicionar {
    grid-area: botaoAdicionar;
    margin-right: 5px;
    background-color: var(--color-azul);
    color: var(--color-azulClaro);
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botaoAdicionar:hover {
    background-color: var(--color-azulClaro);
    color: var(--color-azul);
}

#listaTarefas {
    justify-items: center;
    list-style-type: none;
}

.tarefas {
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    /*coloca os elementos em cada canto*/
    background-color: var(--color-azul);
    box-shadow: 03px 03px 01px var(--color-azulClaro);
    width: 90%;
}

span {
    cursor: pointer;
}

#conteinerListaCompras {
    display: grid;
    grid-template-areas:
        "quantidadeItens tipoItem itemCompra botaoAdicionar";
    justify-content: center;
    spac
}

#quantidadeItens {
    grid-area: quantidadeItens;
    width: 50px;
    margin-right: 5px;
}

#tipoItem {
    grid-area: tipoItem;
    width: 50px;
    margin-right: 5px;

}

#itemCompra {
    grid-area: itemCompra;
    width: 200px;
    margin-right: 5px;

}